* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   /*  background-color: #192A5C; */
}
 .login-box {
      width: 450px;
      padding: 30px;

      background: #fff;
      /* box-shadow: 1px 0px 25px rgba(.2,.2,0,.2); */
       /* box-shadow: 0 .76875rem 2.4875rem rgba(0, 106, 213, 0.3),0 1.3375rem 1.70625rem rgba(52,58,64,.3),0 .55rem .53125rem rgba(159, 0, 0, 0.05),0 .225rem .4375rem rgba(0, 128, 255, 0.3);
  border-radius: .25rem; */

      /* border-radius: 10px; */
      box-shadow: 0 .76875rem 2.4875rem rgba(52,58,64,.3),0 1.3375rem 1.70625rem rgba(52,58,64,.3),0 .55rem .53125rem rgba(0,0,0,.05),0 .225rem .4375rem rgba(52,58,64,.3);
  border-radius: .25rem;
      text-align: center;
    }

    .login-box .avatar {
      width: 80px;
      margin-bottom: 20px;
    }
    .input-box {
    position: relative;
    margin-bottom: 25px;
}

.input-box input {
    width: 100%;
    padding: 12px 35px 12px 10px;
    font-size: 14px;
    border: none;
    border: 2px solid rgba(.2,.2,0,.2);
    outline: none;
    background: transparent;
    color: #0d0d0d;
}

.input-box label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(.2,.2,0,.2);
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s ease all;
}

/* Move label up on focus or if input has a value */
.input-box input:focus ~ label,
.input-box input.has-value ~ label {
    top: -8px;
    font-size: 12px;
    color: #000000;
}
    .input-box .icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #000000;
      font-size: 18px;
    }

    .remember-forgot {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      margin-bottom: 20px;
    }

    .remember-forgot a {
      color: #137bb8;
      text-decoration: none;
    }

    .remember-forgot a:hover {
      text-decoration: underline;
    }

    .btn {
      width: 100%;
      padding: 10px;
      background: #007bff;
      border: none;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s;
      font-weight: 600;
    }

    .btn:hover {
      background: #0056b3;
    }

 